<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="com.CrimsonKnightBlood.SciQuiz">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
			android:allowBackup="true"
			android:icon="@drawable/app_logo"
			android:label="@string/app_name"
			android:resizeableActivity="true"
			android:theme="@style/AppTheme">
        <activity
				android:name=".MainActivity"
				android:exported="true"
				android:label="@string/app_name"
				android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
				android:name=".TitleActivity"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".SectionPageActivity"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".StatusPageActivity"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".OptionsPageActivity"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.AstronomySection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.BiologySection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.BotanySection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.ChemistrySection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.EarthScienceSection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.EcologySection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.GeologySection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.HumanBiologySection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.MeteorologySection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.OceanographySection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.PhysicsSection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Section.ZoologySection"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.AstronomyMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.AstronomyTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.BiologyMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.BiologyTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.BotanyMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.BotanyTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.ChemistryMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.ChemistryTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.EarthScienceMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.EarthScienceTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.EcologyMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.EcologyTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.GeologyMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.GeologyTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.HumanBiologyMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.HumanBiologyTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.MeteorologyMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.MeteorologyTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.OceanographyMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.OceanographyTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.PhysicsMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.PhysicsTF"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.ZoologyMC"
				android:screenOrientation="portrait"/>
        <activity
				android:name=".Topic.ZoologyTF"
				android:screenOrientation="portrait"/>
    </application>

</manifest>